body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: "BBH Sans Bartle", Arial, sans-serif;
    background-image: url("img/fullsize/fondo-eladio-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgenes-pequenas {
    width: 300px;
    height: 300px;
    border: 5px solid #000000;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.item:hover {
    transform: scale(1.2);
}

.titulo {
    margin-top: 10px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding-top: 2%;
    width: 150px;
    height: 25px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}

.header1 {
    display: flex;
    justify-content: center;
    background-color: #000000e3;
    color: white;
    padding: 0 300px 0 300px;
    text-align: center;
    align-items: center;
}


.pie {
    display: flex;
    background-color: #000000e3;
    justify-content: center;
    padding: 20px 300px 20px 300px;
}

.pie h3 {
    width: 200px;
    padding: 0 0 0 0;
}
